nav {
  position: absolute;
  width: 100px;
  height: calc(100vh - 100px);
  top: 50px;
  left: 10px;
  background-color: #190E4F;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}

.app {
  &-container {
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
  }
}

.nav {
  &-container {
    position: relative;
    width: 90%;
    height: 90%;
    top: 15%;
    left: 10%;
  }

  &-element {
    width: 105%;
    height: 50px;
    margin-bottom: 10px;

    &:after {
      content: '';
      width: 5px;
    }

    button {
      margin-left: 25px;

      &:hover {
        background-color: #eeeeee;
      }
    }
  
    &-active {
      background-color: #eeeeee;
      border-radius: 50px 0 0 50px;
    }
  }
}

section {
  position: absolute;
  width: calc(100vw - 140px);
  height: calc(100vh - 120px);
  top: 50px;
  left: 130px;
  padding: 10px;
}