<div class="settings">
  <mat-icon class="app-sidenav-icon">settings</mat-icon>
  <div class="settings-menu">
    <ul>
      <li>Test</li>
    </ul>
  </div>
</div>
<div class="app-container">
  <!--<header>Dashboard</header>
  <nav>
    <div class="nav-container">
      <div class="nav-element">
        <button mat-icon-button color="light" aria-label="Map" (click)="route(0)">
          <mat-icon class="app-sidenav-icon">chat_bubble_outline</mat-icon>
        </button>
      </div> 
      <div class="nav-element nav-element-active">
        <button mat-icon-button color="light" aria-label="Polls" (click)="route(1)">
          <mat-icon class="app-sidenav-icon">poll</mat-icon>
        </button>
      </div>
    </div> 
  </nav>!-->
  <div class="app-module" *ngIf="modules.bahn">
    <mat-card class="app-module-card" cdkDrag>
      <mat-card-subtitle>Bahn Modul</mat-card-subtitle>
      <mat-card-content>
        <osnahub-cp-bahn></osnahub-cp-bahn>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-module" *ngIf="modules.trash">
    <mat-card class="app-module-card" cdkDrag>
      <mat-card-subtitle>Müllabfuhr Modul</mat-card-subtitle>
      <mat-card-content>
        <osnahub-cp-trash></osnahub-cp-trash>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="app-module" *ngIf="modules.ris">
    <mat-card class="app-module-card" cdkDrag>
      <mat-card-subtitle>RIS Modul</mat-card-subtitle>
      <mat-card-content>
        <osnahub-cp-ris></osnahub-cp-ris>
      </mat-card-content>
    </mat-card>
  </div>
</div>
