<div class="card search">
  <mat-icon class="app-sidenav-icon" style="margin-right: 10px;">search</mat-icon>
  <input class="search-input" type="text" name="search" placeholder="Search.." (input)="onSearchChange($event.target.value)">
</div>

<div *ngFor="let status of statusesFiltered">
  <mat-card class="poll" *ngIf="status.poll">
    <mat-card-title>{{ status.content }}</mat-card-title>
    <mat-card-subtitle>Anzahl der Teilnehmer: {{ status.poll.votes_count }}</mat-card-subtitle>
    <mat-card-content>
      <div class="poll-option" *ngFor="let pollOption of status.poll.options; let i = index">
        <div class="poll-option-elem"
          [style.width]="status.poll.votes_count > 0 ? (pollOption.votes_count * 100 / status.poll.votes_count) + '%' : '0%'"
          [style.background-color]="COLOR_PALETTE[i]">
          {{ pollOption.title }} {{ status.poll.votes_count > 0 ? ((pollOption.votes_count * 100 / status.poll.votes_count) | number: 0) : '0' }}%
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
