<mat-spinner class="loading-spinner" *ngIf="loading"></mat-spinner>

<form class="departure-form">
  <mat-form-field class="departure-full-width">
    <mat-label>Haltestelle</mat-label>
    <input matInput placeholder="Osnabrück Hbf" (input)="onSearchChange($event.target.value)">
  </mat-form-field>
</form>

<div *ngIf="departureInput">
  <p>Nächste Abfahrten für {{ departureInput }}:</p>
  <table mat-table [dataSource]="departuresDataSource" multiTemplateDataRows class="mat-elevation-z8" style="box-shadow: none;" *ngIf="departures && departures.length > 0">
    <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef> Linie </th>
        <td mat-cell *matCellDef="let element"> {{ element.line }} </td>
    </ng-container>
    <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef> Ziel </th>
        <td mat-cell *matCellDef="let element"> {{ element.destination }} </td>
    </ng-container>
    <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef> Abfahrt </th>
        <td mat-cell *matCellDef="let element"> {{ element.departure }} </td>
    </ng-container>
    <ng-container matColumnDef="delay">
        <th mat-header-cell *matHeaderCellDef> Verspätung </th>
        <td mat-cell *matCellDef="let element"> {{ element.delay }} </td>
    </ng-container>
    <ng-container matColumnDef="warning">
        <th mat-header-cell *matHeaderCellDef> Hinweise </th>
        <td mat-cell *matCellDef="let element"> {{ element.warning }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="departure-element-row"></tr>
  </table>
  <p *ngIf="!departures || departures.length === 0">Keine Abfahrten gefunden</p>
</div>