  .departure-element-row td {
    min-width: 100px;
    padding-right: 5px;
  }

  .departure-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .departure-full-width {
    width: 100%;
  }
